<!-- your html code here -->
<div class="bg-white">
    <h3 class="ms-5 me-5">Contact</h3>
    <p class="ms-5 me-5">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus
        magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        <div class="d-flex justify-content-center">
            <div class="card-header border h-auto w-50 mb-5">
                <form class="me-2 mb-2 mt-2 ms-5">
                    <div class="row mb-2">
                        <div class="col-4">
                            <p><strong>Your E-mail</strong></p>
                        </div>
                        <div class="col-8">
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your email">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <p><strong>Your message</strong></p>
                        </div>
                        <div class="col-8">
                            <textarea class="form-control" placeholder="Please enter your message here..." id="floatingTextarea"></textarea>
                        </div> 
                    </div>
                </form>
                <div class="d-flex justify-content-end mb-3 me-2">
                    <button type="button" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div> 
</div>