<!-- your html code here -->
<div class="bg-white">
    <div>
        <h3>Portfolio</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste, voluptatibus temporibus culpa labore hic maxime reprehenderit et ea libero ut quibusdam alias quas placeat earum iusto officia, doloribus tempore enim.</p>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4 ">
        <div class="col mb-3">
          <div class="card h-100 border-0">
            <img src="https://picsum.photos/seed/picsum/700/400" class="card-img-top mb-3" alt="...">
            <div class="card-body p-0">
              <h5 class="card-title  text-primary">Project Name</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card h-100 border-0">
            <img src="https://picsum.photos/seed/picsum/700/400" class="card-img-top mb-3" alt="...">
            <div class="card-body p-0">
              <h5 class="card-title  text-primary">Project Name</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card h-100 border-0">
            <img src="https://picsum.photos/seed/picsum/700/400" class="card-img-top mb-3" alt="...">
            <div class="card-body p-0">
              <h5 class="card-title  text-primary">Project Name</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
      </div>
</div>