<div class=" mt-5 bg-white">
    <div class="row align-item-center">
        <div class="col-md-4 text-right">

            <img src="assets/img/2.jpg" class="img-fluid rounded-circle" alt="img">
        </div>
        <div class="col-md-8 text-right">
            <h1><strong>The Second Heading</strong> <span class="text-muted">Is Pretty Cool Too.</span></h1>
            <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
                Praesent commodo cursus magna vel scelerisque nisl consectetur.
                Fusce dapibus, tellus ac cursus commodo.
            </p>
        </div>
    </div>


</div>